.site-hero {
    min-height: 100vh;
    background-image: url(../../../assets/Rectangle-13.png), url(../../../assets/Hero-Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: inherit;
    width: 100%;
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
        display: flex;
        flex-direction: column;
    }
    
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8.75rem;
        margin-bottom: 2.3rem;
    }

    &__read-more {
        display: flex;
        gap: var(--gap-s);
        align-items: center;
        font-size: var(--font-size-2);
        font-family: var(--font-headline);
        color: var(--color-dark-900);
    }

    &__social {
        display: flex;
        gap: var(--gap-s);
    }
    
}

.hero-content {
    margin-top: 16.5rem;
    
    &__title {
        margin: 0;
        color: var(--color-dark-900);
        font-size: 6.25rem;
        font-style: italic;
        font-weight: 400;
        margin-bottom: var(--font-size-4);
    }
    
    &__buttons {
        display: flex;
        gap: var(--gap-s);
    }
    
    &__reservation {
        border: 0;
        font-family: var(--font-headline);
        font-size: var(--font-size-3);
        color: var(--color-dark-900);
        background-color: var(--color-accent-orange-900);
        padding: 0.75rem 1.75rem;
        transform: skew(-12deg);
        cursor: pointer;
            
        &:hover {
            animation-name: shine;
            animation-duration: 260ms;
          }
          
          @keyframes shine {
            0% {
              background: linear-gradient(
                30deg, 
                var(--color-light) 0%, 
                var(--color-accent-orange-900--color-accent-orange-900) 25%
              );
            }
          
            25% {
              background: linear-gradient(
                30deg, 
                var(--color-accent-orange-900) 0%, 
                var(--color-light) 25%, 
                var(--color-accent-orange-900) 50%);
            }
          
            50% {
              background: linear-gradient(
                30deg,
                var(--color-accent-orange-900) 0%, 
                var(--color-light) 50%, 
                var(--color-accent-orange-900) 75%); 
            }
          
            75% {
              background: linear-gradient(
                30deg, 
                var(--color-accent-orange-900) 0%, 
                var(--color-light) 75%, 
                var(--color-accent-orange-900) 100%); 
            }
          
            100% {
              background: linear-gradient(
                30deg, 
                var(--color-accent-orange-900) 0%, 
                var(--color-light) 100%); 
            }
          }
    }
    
    &__member {
        border: 0;
        font-family: var(--font-headline);
        font-size: var(--font-size-3);
        color: var(--color-dark-900);
        background-color: var(--color-accent-blue-900);
        padding: 0.75rem 1.75rem;
        transform: skew(-12deg);
        cursor: pointer;

        &:hover {
            animation-name: shine-blue;
            animation-duration: 260ms;
          }
          
          @keyframes shine-blue {
            0% {
              background: linear-gradient(
                30deg, 
                var(--color-light) 0%, 
                var(--color-accent-blue-900) 25%
              );
            }
          
            25% {
              background: linear-gradient(
                30deg, 
                var(--color-accent-blue-900) 0%, 
                var(--color-light) 25%, 
                var(--color-accent-blue-900) 50%);
            }
          
            50% {
              background: linear-gradient(
                30deg,
                var(--color-accent-blue-900) 0%, 
                var(--color-light) 50%, 
                var(--color-accent-blue-900) 75%); 
            }
          
            75% {
              background: linear-gradient(
                30deg, 
                var(--color-accent-blue-900) 0%, 
                var(--color-light) 75%, 
                var(--color-accent-blue-900) 100%); 
            }
          
            100% {
              background: linear-gradient(
                30deg, 
                var(--color-accent-blue-900) 0%, 
                var(--color-light) 100%); 
            }
          }
    }
}