:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: #222;
  --color-dark-200: #2b3135;
  --color-dark-300: #666;
  --color-dark-400: #707070;
  --color-dark-500: #888;
  --color-dark-600: #999;
  --color-dark-700: #bdbdbd;
  --color-dark-800: #d5d5d5;
  --color-dark-900: #ffffff;
  --color-accent-orange: #3d1008;
  --color-accent-orange-200: #5a170b;
  --color-accent-orange-300: #701d0f;
  --color-accent-orange-400: #8d2412;
  --color-accent-orange-500: #ad2b14;
  --color-accent-orange-600: #c03017;
  --color-accent-orange-700: #d3361a;
  --color-accent-orange-800: #e93a1b;
  --color-accent-orange-900: #FD3E1D;
  --color-accent-blue: #021e3a;
  --color-accent-blue-200: #032b53;
  --color-accent-blue-300: #043769;
  --color-accent-blue-400: #054686;
  --color-accent-blue-500: #0452a0;
  --color-accent-blue-600: #045fb9;
  --color-accent-blue-700: #076acc;
  --color-accent-blue-800: #0678e9;
  --color-accent-blue-900: #0584FF;
  --color-light: #d2dbe2;
  --color-light-200: #bcc6ce;
  --color-light-300: #a5afb8;
  --color-light-400: #869099;
  --color-light-500: #737c85;
  --color-light-600: #435665;
  --color-light-700: #3F4A53;
  --color-light-800: #30383f;
  --color-light-900: #21272c;
  --font-text: "industry", sans-serif;
  --font-headline: "abolition", sans-serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1.125rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale));
  --font-size-3: calc( var(--font-size-2) * var(--font-scale));
  --font-size-4: calc( var(--font-size-3) * var(--font-scale));
  --font-size-5: calc( var(--font-size-4) * var(--font-scale));
  --font-size-6: calc( var(--font-size-5) * var(--font-scale));
  --page-width: 80rem;
  --grid-container: [full-start] minmax(5rem, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(5rem, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline);
  margin: 0;
  padding: 0;
}

p {
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
}

li {
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
}

.site-header {
  padding-top: var(--gap-l);
  display: grid;
  grid-template-columns: var(--grid-container);
  position: absolute;
  width: 100%;
  transition: all 0.3s;
}
.site-header--scroll {
  background-color: hsla(207deg, 14%, 29%, 0.7);
  height: 5rem;
  position: fixed;
  padding-top: 0.5rem;
  backdrop-filter: blur(10px);
  z-index: 99;
}
.site-header--scroll .site-header__logo {
  opacity: 1;
  visibility: visible;
}
.site-header--scroll .site-header__logo svg {
  height: 3rem;
}
.site-header__inner {
  display: flex;
  grid-column: inner;
  justify-content: space-between;
  align-items: center;
}
.site-header__list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: var(--gap-m);
  color: var(--color-dark-900);
  font-style: italic;
  list-style: none;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.site-header__list a {
  color: var(--color-dark-900);
}
.site-header__list svg {
  transform: translateY(-3px);
}
.site-header__link:hover {
  border-bottom: 3px solid var(--color-accent-orange-900);
  padding-bottom: 3px;
}

.site-footer {
  background-color: var(--color-dark-200);
  display: grid;
  grid-template-columns: var(--grid-container);
}
.site-footer__inner {
  grid-column: inner;
}
.site-footer__content {
  display: flex;
  justify-content: space-between;
}
.site-footer__contacts {
  color: var(--color-dark-900);
  font-size: 1rem;
  margin-bottom: 4.5rem;
}
.site-footer__contacts svg {
  margin: 6rem 0 2.5rem 0;
}
.site-footer__contacts span {
  font-weight: 700;
}
.site-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 8.5rem;
}
.site-footer__item {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--gap-s);
}
.site-footer__link {
  color: var(--color-dark-900);
  font-size: 1rem;
}
.site-footer__link:hover {
  text-decoration: underline;
}
.site-footer__media {
  margin-top: 8.5rem;
  display: flex;
  flex-direction: column;
}
.site-footer__media img {
  margin-bottom: 5.6rem;
}
.site-footer__social {
  display: flex;
  gap: var(--gap-s);
  justify-content: end;
}
.site-footer__copyright {
  color: hsla(0deg, 0%, 100%, 0.5);
  margin-bottom: 2rem;
}

.site-hero {
  min-height: 100vh;
  background-image: url(./assets/Rectangle-13.png), url(./assets/Hero-Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: inherit;
  width: 100%;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.site-hero__inner {
  grid-column: inner;
  display: flex;
  flex-direction: column;
}
.site-hero__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8.75rem;
  margin-bottom: 2.3rem;
}
.site-hero__read-more {
  display: flex;
  gap: var(--gap-s);
  align-items: center;
  font-size: var(--font-size-2);
  font-family: var(--font-headline);
  color: var(--color-dark-900);
}
.site-hero__social {
  display: flex;
  gap: var(--gap-s);
}

.hero-content {
  margin-top: 16.5rem;
}
.hero-content__title {
  margin: 0;
  color: var(--color-dark-900);
  font-size: 6.25rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: var(--font-size-4);
}
.hero-content__buttons {
  display: flex;
  gap: var(--gap-s);
}
.hero-content__reservation {
  border: 0;
  font-family: var(--font-headline);
  font-size: var(--font-size-3);
  color: var(--color-dark-900);
  background-color: var(--color-accent-orange-900);
  padding: 0.75rem 1.75rem;
  transform: skew(-12deg);
  cursor: pointer;
}
.hero-content__reservation:hover {
  animation-name: shine;
  animation-duration: 260ms;
}
@keyframes shine {
  0% {
    background: linear-gradient(30deg, var(--color-light) 0%, var(--color-accent-orange-900--color-accent-orange-900) 25%);
  }
  25% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 25%, var(--color-accent-orange-900) 50%);
  }
  50% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 50%, var(--color-accent-orange-900) 75%);
  }
  75% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 75%, var(--color-accent-orange-900) 100%);
  }
  100% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 100%);
  }
}
.hero-content__member {
  border: 0;
  font-family: var(--font-headline);
  font-size: var(--font-size-3);
  color: var(--color-dark-900);
  background-color: var(--color-accent-blue-900);
  padding: 0.75rem 1.75rem;
  transform: skew(-12deg);
  cursor: pointer;
}
.hero-content__member:hover {
  animation-name: shine-blue;
  animation-duration: 260ms;
}
@keyframes shine-blue {
  0% {
    background: linear-gradient(30deg, var(--color-light) 0%, var(--color-accent-blue-900) 25%);
  }
  25% {
    background: linear-gradient(30deg, var(--color-accent-blue-900) 0%, var(--color-light) 25%, var(--color-accent-blue-900) 50%);
  }
  50% {
    background: linear-gradient(30deg, var(--color-accent-blue-900) 0%, var(--color-light) 50%, var(--color-accent-blue-900) 75%);
  }
  75% {
    background: linear-gradient(30deg, var(--color-accent-blue-900) 0%, var(--color-light) 75%, var(--color-accent-blue-900) 100%);
  }
  100% {
    background: linear-gradient(30deg, var(--color-accent-blue-900) 0%, var(--color-light) 100%);
  }
}

.program {
  display: grid;
  grid-template-columns: var(--grid-container);
  margin: var(--gap-xl) 0 5.625rem 0;
}
.program__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  gap: var(--gap-l);
}
.program__box {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 2.6rem;
}
.program__membership {
  background-color: var(--color-light-700);
  background-image: url(./assets/Arrow-right.svg), url(./assets/blue-corner.svg);
  background-repeat: no-repeat;
  background-position: 96% 92%, right bottom;
}
.program__membership h3 {
  color: var(--color-dark-900);
  font-size: var(--font-size-2);
  font-style: italic;
  font-weight: 400;
}
.program__membership h2 {
  color: var(--color-dark-900);
  font-size: 4rem;
  font-style: italic;
  font-weight: 400;
}
.program__membership p {
  color: hsla(0deg, 0%, 100%, 0.42);
  font-size: 0.6875rem;
}
.program__grupp {
  background-color: hsla(207deg, 14%, 29%, 0.07);
  background-image: url(./assets/Arrow-right.svg), url(./assets/gray-corner.svg);
  background-repeat: no-repeat;
  background-position: 96% 92%, right bottom;
}
.program__grupp h3 {
  color: var(--color-light-700);
  font-size: var(--font-size-2);
  font-style: italic;
  font-weight: 400;
}
.program__grupp h2 {
  color: var(--color-accent-orange-900);
  font-size: 4rem;
  font-style: italic;
  font-weight: 400;
}
.program__test {
  background-color: hsla(207deg, 14%, 29%, 0.07);
  background-image: url(./assets/Arrow-right.svg), url(./assets/gray-corner.svg);
  background-repeat: no-repeat;
  background-position: 96% 92%, right bottom;
}
.program__test h3 {
  color: hsla(207deg, 14%, 29%, 0.64);
  font-size: var(--font-size-2);
  font-style: italic;
  font-weight: 400;
}
.program__test h2 {
  color: var(--color-light-700);
  font-size: 4rem;
  font-style: italic;
  font-weight: 400;
}

.newsletter {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.newsletter__inner {
  grid-column: inner;
}
.newsletter__title {
  color: var(--color-light-700);
  font-size: 4rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: var(--gap-xl);
}
.newsletter__articles {
  display: grid;
  grid-template-columns: 47.5rem 25.5rem;
  gap: 6.75rem;
}

.newsletter-article__date {
  color: hsla(207deg, 14%, 29%, 0.8);
  font-size: var(--font-size-1);
}
.newsletter-article__title {
  color: var(--color-light-700);
  font-weight: 400;
  font-style: italic;
  font-size: 5.5rem;
  margin-bottom: var(--font-size-4);
}
.newsletter-article__image {
  margin-bottom: 2.5rem;
}
.newsletter-article__text {
  color: var(--color-light-600);
  font-size: var(--font-size-1);
  margin-bottom: 2.125rem;
}
.newsletter-article__links {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}
.newsletter-article__button {
  font-family: var(--font-headline);
  font-size: var(--font-size-2);
  color: var(--color-dark-900);
  background-color: var(--color-accent-orange-900);
  padding: 0.75rem 1.75rem;
  transform: skew(-12deg);
}
.newsletter-article__button:hover {
  animation-name: shine;
  animation-duration: 260ms;
}
@keyframes shine {
  0% {
    background: linear-gradient(30deg, var(--color-light) 0%, var(--color-accent-orange-900) 25%);
  }
  25% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 25%, var(--color-accent-orange-900) 50%);
  }
  50% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 50%, var(--color-accent-orange-900) 75%);
  }
  75% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 75%, var(--color-accent-orange-900) 100%);
  }
  100% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 100%);
  }
}
.newsletter-article__share {
  font-family: var(--font-headline);
  font-size: var(--font-size-2);
  font-style: italic;
  color: var(--color-light-700);
}

.newsletter-sidebar {
  display: flex;
  flex-direction: column;
}
.newsletter-sidebar__date {
  color: hsla(207deg, 14%, 29%, 0.8);
  font-size: var(--font-size-1);
  margin-bottom: 1.125rem;
}
.newsletter-sidebar__title {
  color: var(--color-light-700);
  font-weight: 400;
  font-style: italic;
  font-size: var(--font-size-3);
  padding-right: 5rem;
  margin-bottom: 1.125rem;
}
.newsletter-sidebar__image {
  margin-bottom: 1.125rem;
}
.newsletter-sidebar__text {
  color: var(--color-light-600);
  font-size: var(--font-size-1);
  margin-bottom: 1.5rem;
}
.newsletter-sidebar__links {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  margin-bottom: 3.625rem;
}
.newsletter-sidebar__button {
  font-family: var(--font-headline);
  font-size: var(--font-size-2);
  color: var(--color-dark-900);
  background-color: var(--color-accent-orange-900);
  padding: 0.75rem 1.75rem;
  transform: skew(-12deg);
}
.newsletter-sidebar__button:hover {
  animation-name: shine;
  animation-duration: 260ms;
}
@keyframes shine {
  0% {
    background: linear-gradient(30deg, var(--color-light) 0%, var(--color-accent-orange-900) 25%);
  }
  25% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 25%, var(--color-accent-orange-900) 50%);
  }
  50% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 50%, var(--color-accent-orange-900) 75%);
  }
  75% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 75%, var(--color-accent-orange-900) 100%);
  }
  100% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 100%);
  }
}
.newsletter-sidebar__share {
  font-family: var(--font-headline);
  font-size: var(--font-size-2);
  font-style: italic;
  color: var(--color-light-700);
}

.advertising {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.advertising__inner {
  grid-column: inner;
  background-image: url(./assets/Arrow-right.svg), url(./assets/blue-corner.svg), url(./assets/Tone-advertising.png), url(./assets/Bg-advertising.png);
  background-position: 99% 95%, right bottom, left top, left top;
  background-repeat: no-repeat;
  background-size: auto, auto, cover, cover;
  height: 23.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--gap-l);
  margin: 2.625rem 0 6.25rem 0;
}
.advertising__inner h2 {
  color: var(--color-dark-900);
  font-size: 5.5rem;
  font-weight: 400;
  font-style: italic;
}
.advertising__inner h3 {
  color: var(--color-dark-900);
  opacity: 0.82;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
}

.calender {
  display: grid;
  grid-template-columns: var(--grid-container);
  margin-bottom: 6rem;
}
.calender__inner {
  grid-column: inner;
}
.calender__content {
  display: flex;
  justify-content: space-between;
}

.calender-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
.calender-header__content {
  display: flex;
  gap: var(--gap-m);
  align-items: center;
}
.calender-header__title {
  color: var(--color-light-700);
  font-size: 3.8rem;
  font-style: italic;
  font-weight: 400;
}
.calender-header__week {
  color: var(--color-accent-blue-900);
  font-size: var(--font-size-3);
  font-style: italic;
  font-weight: 400;
  opacity: 0.64;
}
.calender-header__button {
  border: 0;
  font-family: var(--font-headline);
  font-size: var(--font-size-3);
  color: var(--color-dark-900);
  background-color: var(--color-accent-orange-900);
  padding: 0.75rem 1.75rem;
  transform: skew(-12deg);
  cursor: pointer;
}
.calender-header__button:hover {
  animation-name: shine;
  animation-duration: 260ms;
}
@keyframes shine {
  0% {
    background: linear-gradient(30deg, var(--color-light) 0%, var(--color-accent-orange-900--color-accent-orange-900) 25%);
  }
  25% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 25%, var(--color-accent-orange-900) 50%);
  }
  50% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 50%, var(--color-accent-orange-900) 75%);
  }
  75% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 75%, var(--color-accent-orange-900) 100%);
  }
  100% {
    background: linear-gradient(30deg, var(--color-accent-orange-900) 0%, var(--color-light) 100%);
  }
}

.calender-reception {
  width: 425px;
  background-color: var(--color-light-600);
  padding: 45px 26px 47px 26px;
  background-image: url(./assets/Gray-cornor-top.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
.calender-reception li:nth-child(odd) {
  background-color: hsla(0deg, 0%, 100%, 0.07);
  padding: 10px 0 5px 0;
  margin: 5px 0 7px 0;
}
.calender-reception__title {
  color: var(--color-dark-900);
  font-size: 3.8rem;
  font-style: italic;
  font-weight: 400;
  padding-left: 19px;
  margin-bottom: var(--gap-m);
}
.calender-reception__reception-open {
  list-style: none;
  margin: 0;
  padding: 0;
}
.calender-reception__week {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calender-reception__day {
  color: var(--color-dark-900);
  font-family: var(--font-text);
  font-size: var(--font-size-1);
  padding-left: 19px;
}
.calender-reception__time {
  color: var(--color-dark-900);
  font-family: var(--font-text);
  font-size: var(--font-size-1);
  padding-right: 19px;
}
.calender-reception__disclaimer {
  color: var(--color-dark-900);
  opacity: 0.42;
  font-size: 11px;
  padding: 19px 0 0 19px;
}

.calender-sauna {
  width: 425px;
  padding: 0 26px;
}
.calender-sauna li:nth-child(odd) {
  background: hsla(207deg, 14%, 29%, 0.07);
  padding: 10px 0 5px 0;
  margin: 5px 0 7px 0;
}
.calender-sauna__title {
  color: var(--color-light-700);
  font-size: 3.8rem;
  font-style: italic;
  font-weight: 400;
  padding: 45px 0 0 43px;
  margin-bottom: var(--gap-m);
}
.calender-sauna__sauna-open {
  list-style: none;
  margin: 0;
  padding: 0;
}
.calender-sauna__week {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calender-sauna__day {
  color: var(--color-dark-400);
  font-family: var(--font-text);
  font-size: var(--font-size-1);
  padding-left: 19px;
}
.calender-sauna__time {
  color: var(--color-dark-400);
  font-family: var(--font-text);
  font-size: var(--font-size-1);
  padding-right: 19px;
}

.calender-keycard {
  width: 425px;
  padding: 0 26px;
}
.calender-keycard li:nth-child(odd) {
  background: hsla(207deg, 14%, 29%, 0.07);
  padding: 10px 0 5px 0;
  margin: 5px 0 7px 0;
}
.calender-keycard__title {
  color: var(--color-light-700);
  font-size: 3.8rem;
  font-style: italic;
  font-weight: 400;
  padding: 45px 0 0 43px;
  margin-bottom: var(--gap-m);
}
.calender-keycard__keycard-open {
  list-style: none;
  margin: 0;
  padding: 0;
}
.calender-keycard__week {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calender-keycard__day {
  color: var(--color-dark-400);
  font-family: var(--font-text);
  font-size: var(--font-size-1);
  padding-left: 19px;
}
.calender-keycard__time {
  color: var(--color-dark-400);
  font-family: var(--font-text);
  font-size: var(--font-size-1);
  padding-right: 19px;
}

.map img {
  width: 100%;
  position: relative;
  transform: translateY(6px);
  object-fit: cover;
}

.popup {
  background-color: hsla(207deg, 14%, 29%, 0.7);
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
.popup__inner {
  display: flex;
  background-color: var(--color-light);
  height: 40.625rem;
  width: 66.125rem;
  background-image: url(./assets/Offer-tone.png), url(./assets/Offer-img.png);
  background-repeat: no-repeat;
  background-position: top right, top right;
  padding: 3rem 5rem;
  justify-content: space-between;
}
.popup__content {
  width: 27.5rem;
}
.popup__content h2 {
  color: var(--color-accent-orange-900);
  font-family: var(--font-headline);
  font-style: italic;
  font-size: 6.25rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.popup__content p {
  color: var(--color-light-700);
  font-family: var(--font-headline);
  font-style: italic;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.popup__sign-button {
  border: 0;
  font-family: var(--font-headline);
  font-size: var(--font-size-3);
  color: var(--color-dark-900);
  background-color: var(--color-accent-orange-900);
  padding: 0.75rem 1.75rem;
  transform: skew(-12deg);
  cursor: pointer;
}
.popup__cancle-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  height: 43px;
  width: 43px;
}

/*# sourceMappingURL=style.css.map */
